<% all_hosts = Host::Discovered.includes(:model).includes(:discovery_attribute_set).all %>
<% hosts = all_hosts.limit(6) %>

<h4 class="header">
  <%= link_to "#{all_hosts.size} #{n_('Discovered Host', 'Discovered Hosts', all_hosts.size)}", discovered_hosts_path %>
</h4>

<% if hosts.empty? %>
   <p class="ca"><%= _("No discovered hosts available") %></p>
<% else %>
    <%= render :partial => 'discovery_widget_host_list', :locals => { :hosts => hosts } %>
<% end %>
