.idea/
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
Gemfile.lock
locale/*.mo
locale/*/*.pox
locale/*/*.edit.po
locale/*/*.po.time_stamp
tags
TAGS

# YARD artifacts
.yardoc
_yardoc
doc/

# RBenv
.rbenv*
.ruby*

*.swp

# Foreman app support
test/foreman_app
.foreman_app
