#!/bin/sh

echo "Starting custom discovery script"

GEMS="facter json_pure rack rack-protection tilt sinatra"
for n in $GEMS ; do gem install -l `ls /opt/gems/*$n-[0-9]*.gem` ; done

/usr/share/foreman-proxy/bin/smart-proxy
/usr/share/foreman-proxy/bin/discover_host

echo "Done with custom discovery script"
