<%= render 'selected_hosts', :hosts => @hosts %>
<div class="row">
  <div class="col-md-8">
    <%= form_for :organization, :url => update_multiple_organization_discovered_hosts_path(:host_ids => params[:host_ids]) do |f| %>
      <%= f.select :id, Organization.all.map{|e| [e.name, e.id]},{:include_blank => _("Select organization")},
                   :onchange => "toggle_multiple_ok_button(this)" %>
      <%= f.hidden_field :optimistic_import, :value => "yes" %>
    <% end %>
  </div>
</div>
