<% content_for(:javascripts) do %>
  <%= webpacked_plugins_js_for :'foreman_discovery' %>
<% end %>

<% content_for(:title, _("Discovered Hosts")) %>

<% content_for(:content) do %>
  <div id="organization-id" data-id="<%= Organization.current.id if Organization.current %>" ></div>
  <div id="user-id" data-id="<%= User.current.id if User.current %>" ></div>
  <%= react_component('DiscoveredHosts', docUrl: external_link_path(type: 'plugin_manual', name: 'foreman_discovery', version: discovery_doc_version)) %>
<% end %>
